.post-list {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-content: flex-start;
  background-color: rgb(195, 224, 250);
}

h2 {
  margin: 5px;
}

.post-list:nth-child(odd) {
  background-color: aliceblue;
}
