.post-container {
  display: flexbox;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  justify-content: space-between;
  border: 1px solid black;
  margin-bottom: 5rem;
}

.post-buttons {
  display: flex !important;
  justify-content: right;
  align-items: center;
  color: black;
}

.cardContainer {
  height: 750px;
  width: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}