.post-container {
  display: flexbox;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  justify-content: space-between;
  border: 1px solid black;
}

.post-buttons {
  display: flex !important;
  justify-content: center;
  align-items: center;
  color: black;
}
