.fa-edit {
  color: rgb(189, 179, 39);
  font-size: 25px;
  cursor: pointer;
}

.fa-trash-alt {
  color: rgb(228, 36, 36);
  font-size: 25px;
  cursor: pointer;
}


.reactions {
  border: solid black 1px;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  max-width: 180px;
}

.tag {
  border: solid black 1px;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
}

.postImg {
  width: auto;
  max-height: 75%;
  object-fit: cover;
}

.singlePostImgDiv {
  max-width: 75%;
  max-height: 75%;
  object-fit: cover;
}