.usersadmin {
  display: flex;
  padding: 10px;
  justify-content: flex-start;
  align-content: flex-start;
  background-color: rgb(195, 224, 250);
}

.usersadmin:nth-child(odd) {
  background-color: aliceblue;
}

.usersadmin h5{
  margin: 0 10px;
}

.user-container {
  display: flex;
  justify-content: center;
}

.subuser {
  border: 1px solid black;
}
.headuser {
  margin: auto;
}