.useradmin {
  display: flex;
  padding: 10px;
  justify-content: flex-start;
  align-content: flex-start;
  background-color: rgb(195, 224, 250);
}

.useradmin:nth-child(odd) {
  background-color: aliceblue;
}

.useradmin h5{
  margin: 0 10px;
}

.user-container {
  display: flex;
  justify-content: center;
}

.subuser {
  border: 1px solid black;
  margin: auto;
  padding: 0px;
}
.headuser {
  margin: auto;
}