.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: rgb(63, 63, 63);
}

.navbar__item {
    flex-basis: 10%;
    list-style-type: none;
}

.navbar__logo {
    max-height: 6rem;
    max-width: 6rem;
}

.log-button {
    cursor: pointer;
    background: none!important;
    border: none;
	cursor: pointer;
	color: 	#007bff;
}

.log-button:hover {
    font-weight: bold;
    text-decoration: underline;
    color: #0351a5;
}
